## Add as needed
# ignore folder node_modules
node_modules/
# store unneeded files from skeleton
not_needed/
# yarn
yarn.lock
# api keys, unhide when prod ready
src/components/Firebase/Firebase.js
# eslint settings
.eslintrc.js
# keys
keys.js