.Content {
  width: 100%;
  /*begin old center css*/
/*  display: flex;
  justify-content: center;*/
  /*end old center css*/
  margin: auto;
  height: 250px;
  /*text-align: center;*/
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2em;
  /*padding-top: 10px;*/
}

.SubContent {
  text-align: center
}